body{
background-color: aquamarine;
height: 100vh;
width: 100%;
display: grid;
grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% ;
grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;

}

button{
    height: 250px;
    width: 500px;
    border-radius: 20px;
    background-color: rgb(172, 112, 228);
    border-color: none;

}
#con{
    grid-column: 1/21;
    grid-row: 5/17;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1{
    text-align: center;
    grid-column: 2/20;
    grid-row: 2/5;
}