body{
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}
input{
    height: 50px;
    width: 350px;
    border-radius: 5px;
    border-color: beige;
    text-align: center;
    
    
}
::placeholder{
    color: gainsboro;

}

#inputs{
    display: flex;
    align-items: center;
  
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    justify-content: space-evenly;
}
#dot{
    background: black;

}
canvas{
    border: 2mm solid black;

}
