body{
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
::placeholder{
    color: gainsboro;

}
canvas{
    grid-area:2/2;
    border: 2mm solid black;
    height: 90%;

}
#container{
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 9%;
    height: 90%;
}
#output{
    background: white;
    border-radius: 5px;
    padding: 15px;
    width:200px;
}
#inputs{
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin-right: 20%;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;

}
@media (max-width: 780px){
canvas{
    height: 50%;
    width: 100%;
    rotate: -90deg;
}
body{
    rotate:  90deg;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#inputs{
padding:0;
margin:0;


}
#outputs{
 padding:0;
 margin:0;
 height: 100%;
    
}
#container{
    rotate: -90deg;
    height: 40%;
    width: 100%;   
    text-align: center;
    display: flex;
    flex-direction: row;
    

}



}